# Ignore personal face data
Data/Anchors/
Data/Positive/
Data/Negative/

# Ignore Test images
app/Test/InputImages/
app/Test/VerificationImages/
Test/InputImages/
Test/VerificationImages/

# Ignore training checkpoints
training_checkpoints/

# Ignore model files
*.keras
*.h5

# Ignore all images (safety)
*.jpg
*.png
*.jpeg

# Ignore notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
